* {
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img, span {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Roboto-Regular";

	src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	src: local("Roboto-Regular"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Bold";

	src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
	src: local("Roboto-Bold"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Italic";

	src: url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
	src: local("Roboto-Italic"), url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

.main-menu {
	position: fixed;
	width: 100%;

	background: rgba(255, 255, 255, 0.3);
}

.inner {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px 0 250px;
}

.main-menu__inner {
	padding: 0 20px;
}

.main-menu__list {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 0;
}

.main-menu__item {
	margin-left: 40px;

	text-align: center;

	transition: 0.3s;
}

.main-menu__item:first-child {
	margin-left: 0;
}

.main-menu__item:hover {
	transform: scale(1.1);
}

.main-menu__item--no-transform:hover {
	transform: scale(1);
}

.button {
	padding: 10px 30px;

	background: none;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;

	font-family: "Roboto-Regular", sans-serif;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;

	cursor: pointer;

	transition: 1s;
}

.button:hover {
	border: 2px solid #abbbd8;
	background: #ffffff;

	color: #5372ab;
}

.main-menu__item-link {
	font-family: "Roboto-Regular", sans-serif;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;

	cursor: pointer;
}

.button--lang {
	padding: 10px 30px 10px 0;

	background: transparent url("../img/buttonlang.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	font-family: "Roboto-Regular", sans-serif;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

	cursor: pointer;

	transition: 0.5s;
}

.button--lang:hover {
	background: transparent url("../img/buttonlang-hover.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	color: #ffffff;

	transform: scale(1);
}

.main-header {
	width: 100%;
	height: 100vh;

	background: #6381b3 url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
}

.main-header__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-header__title {
	margin-top: 100px;
	margin-bottom: 100px;

	font-family: "Roboto-Bold", sans-serif;
	font-size: 84px;
	line-height: 92px;
	color: #ffffff;
	text-shadow: 0 15px 50px #0e3a7c;
}

.button--arrow {
	padding: 10px 50px 10px 0;

	background: transparent url("../img/buttonarrow.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	font-family: "Roboto-Bold", sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

	cursor: pointer;

	transition: 0.3s;
}

.button--arrow:hover {
	background: transparent url("../img/buttonarrow-hover.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	color: #ffffff;

	transform: scale(1.1) translateX(10px);
}

.block-title {
	margin: 100px 0 50px;

	font-family: "Roboto-Bold", sans-serif;
	font-size: 52px;
	line-height: 62px;
	color: #54758a;
}

.rooms__slider {
	display: flex;
	justify-content: space-between;
}

.rooms__slide {
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 100px;

	box-shadow: 0 5px 30px #000000;
}

.rooms__slide-image {
	width: 100%;
	height: auto;
}

.rooms__slide-content {
	padding: 40px 30px;
}

.rooms__slide-title {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 24px;
	line-height: 28px;
	color: #54758a;
}

.rooms__slide-price {
	margin: 20px 0;

	font-family: "Roboto-Regular", sans-serif;
	font-size: 21px;
	line-height: 28px;
	color: #54758a;
}

.rooms__slide-price--green {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 32px;
	line-height: 38px;
	color: #72921e;
}

.button--slide {
	display: flex;
	margin-left: auto;
	padding: 10px 50px 10px 0;

	background: transparent url("../img/bbuttonarrow.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	font-family: "Roboto-Bold", sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #72921e;

	cursor: pointer;

	transition: 0.3s;
}

.button--slide:hover {
	background: transparent url("../img/bbuttonarrow-hover.png") no-repeat;
	background-position: right center;
	border: none;
	outline: none;

	color: #72921e;
}

@media screen and (max-width: 1370px) {
	.main-menu__list {
		justify-content: space-around;
		padding: 20px 0;
	}

	.main-header__title {
		margin-top: 80px;
		margin-bottom: 50px;

		font-family: "Roboto-Bold", sans-serif;
		font-size: 54px;
		line-height: 62px;
		color: #ffffff;
		text-shadow:  0 10px 30px rgba(71, 71, 71, 0.7);
	}

	.button--arrow {
		font-family: "Roboto-Bold", sans-serif;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
	}
}
